@media screen and (max-width: 1838px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1638px) {
  html {
    font-size: 14px;
  }

  .articul__header-content {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    margin-left: 3.56rem;
  }

  .articul__title {
    margin-right: 1rem;
  }

  .circle {
    transform: none;
  }

  .accordion {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 1538px) {
  .articul__title--top {
    flex-direction: column;
    align-items: center;
    margin-left: 3.56rem;
    width: fit-content;
  }

  .articul__footer-content {
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 140%;

    br {
      display: none;
    }
  }

  .articul__footer-text {
    margin-right: 9rem;
    max-width: 25.5rem;
  }

  .rock {
    margin: 0;
  }
}

@media screen and (max-width: 1361px) {
  .accordion__title {
    font-size: 3.31rem;
  }
}

@media screen and (max-width: 1218px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 1132px) {
  .articul__title {
    font-size: 8rem;
  }

  .accordion__line {
    width: 5rem;
    height: 0.4rem;
  }

  .accordion__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 994px) {
  .articul__footer {
    flex-direction: column;
  }

  .arrow {
    width: 35.5rem;
    margin-left: 0;
  }

  .articul__footer-text {
    margin-top: 12.77rem;
    margin-left: 3.75rem;
    max-width: none;
  }

  .accordion__title {
    line-height: 5.2rem;
  }

  .accordion__item .accordion__header {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 878px) {
  .articul__title {
    font-size: 6rem;
  }

  .arrow {
    width: auto;
  }

  .accordion__item {
    margin: 0 2.7rem 0 2rem;
  }

  .articul__title--magneta,
  .articul__title--top {
    margin-left: 2rem;
  }

  .circle {
    font-size: 7.195rem;

    &__img {
      width: 21rem;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .rock {
    margin: 0 auto;
    transform: translate(1.6rem, 3.5rem);
    gap: 0.5rem;

    &__item {
      font-size: 1.00169rem;
      font-weight: 500;
      padding: 0 1.06rem;
      line-height: 2.9185rem;
      letter-spacing: 0.02006rem;
    }
  }

  .articul {
    padding: 0 2.06rem;

    &__close {
      top: 2rem;
    }

    &__header-content {
      flex-direction: row-reverse;
      margin-top: 4.45rem;
      justify-content: space-between;
      margin-left: 0;
    }

    &__img {
      width: 2.125rem;
      height: 2.125rem;
    }

    &__title {
      font-size: 5.625rem;
      line-height: 128%;
      letter-spacing: 0.1125rem;
      text-transform: uppercase;
      margin: 0;

      &-group {
        width: max-content;
      }

      &--top {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
      }

      &--magneta {
        line-height: 95%;
      }
    }

    &__descr {
      font-size: 1.375rem;
      font-weight: 400;
      max-width: 21rem;
      line-height: 1.75rem;
      margin-right: 0.79rem;
    }

    &__footer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 19.2rem;
      margin-bottom: 6.75rem;

      &-text {
        font-size: 1.5625rem;
        line-height: 140%;
        letter-spacing: 0.03125rem;
        max-width: none;
        margin-right: 0;
        margin-top: 13.5rem;
        margin-bottom: 0;
        margin-left: 0;

        br {
          display: none;
        }
      }
    }
  }

  .arrow {
    margin-left: 0;

    &__item {
      padding: 0 2rem;
      font-size: 1.67675rem;
      line-height: 4.88531rem;
      letter-spacing: 0.03356rem;

      &--top {
        transform: rotate(45.5deg) translate(2.3rem, -8.4rem);
        padding: 0 1.5rem;
      }

      &--bottom {
        transform: rotate(-43deg) translate(8.4rem, 10.3rem);
        padding: 0 1.5rem;
      }
    }
  }

  .accordion {
    margin-top: 10.6rem;

    &__item {
      margin: 0;
      padding: 2.45rem 0;

      .accordion__header {
        padding: 0;
      }

      &:not(:first-child) .accordion__header {
        padding: 0;
      }
    }

    &__plus {
      width: 3.125rem;
      height: 3.125rem;
    }

    &__line {
      height: 0.3125rem;
      width: 3.125rem;
    }

    &__content {
      &.active {
        margin-top: 2.25rem;
        padding: 3.3rem 0 0;
      }
    }

    &__paragraph {
      margin-top: 0.2rem;
      font-size: 1.375rem;
      line-height: 1.75rem;
      margin-left: auto;
      margin-right: 0.82rem;
      max-width: 21rem;

      br {
        display: block;

        &.desctop {
          display: none;
        }
      }
    }

    &__list {
      margin-top: 3rem;
      flex-direction: column;
      max-height: 37rem;
      row-gap: 3.8rem;

      &-item {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5625rem;
        max-width: 19.625rem;
        height: 6rem;

        br {
          display: none;
        }
      }
    }

    &__button {
      margin: 3.8rem auto 2rem;
      font-size: 1.375rem;
      line-height: 1.625rem;
      letter-spacing: 0.0275rem;
      padding: 0.95rem;

      img {
        width: 1.875rem;
        height: 1.875rem;
      }
    }

    &__tab {
      font-size: 1.125rem;
      line-height: 120%;
      letter-spacing: 0.0225rem;

      &.active {
        padding-bottom: 0.8rem;
      }
    }

    &__info {
      margin-top: 5.7rem;
    }

    &__description {
      align-items: flex-start;
    }

    &__age {
      &-big {
        font-size: 6.85rem;
        line-height: normal;
      }

      &-small {
        font-size: 1.25rem;
        line-height: 1.5625rem;
      }
    }

    &__title {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0.05rem;

      br {
        display: block;
      }
    }
  }

  .circle {
    font-size: 4.40894rem;
    line-height: 140%;
    letter-spacing: 0.08819rem;
    transform: none;
    width: 11.375rem;

    &__img {
      width: 12.5rem;
    }
  }
}

/* @media screen and (max-width: 767px) {
  .accordion {
    &__list {
      max-height: none;

      &-item {
        max-width: none;
      }
    }
  }
} */

@media screen and (max-width: 767px) {
  .rock {
    margin: 0 auto;
    transform: translate(1.6rem, 1.35rem);
    gap: 0.2rem;

    &__item {
      font-size: 0.66925rem;
      line-height: 1.94994rem;
      letter-spacing: 0.01338rem;
      padding: 0 0.5rem;
    }
  }

  .articul {
    padding: 0 1rem;

    &__close {
      top: 2rem;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__header-content {
      flex-direction: column;
      margin: 0;
      align-items: flex-end;
    }

    &__img {
      width: 1.375rem;
      height: 1.375rem;
    }

    &__title {
      font-size: 2.25rem;
      line-height: 2.8125rem;
      letter-spacing: 0.045rem;
      margin: -0.5rem 0 0;

      &--magneta {
        margin: 0;
      }

      &-group {
        width: max-content;
      }

      &--top {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__descr {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-top: 1.3rem;
      max-width: 31rem;
    }

    &__footer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 8.5rem;
      margin-bottom: 6.75rem;

      &-text {
        font-size: 1.125rem;
        line-height: 140%;
        letter-spacing: 0.0225rem;
        max-width: none;
        margin-right: 0;
        margin-top: 5.7rem;
        margin-bottom: 0;

        br {
          display: none;
        }
      }
    }
  }

  .arrow {
    margin-left: 0;
    width: fit-content;

    &__item {
      padding: 0 0.76rem;
      font-size: 0.69288rem;
      line-height: 2.01875rem;
      letter-spacing: 0.01388rem;

      &--top {
        transform: rotate(45.5deg) translate(0.8rem, -3.4rem);
        padding: 0 0.66rem;
      }

      &--bottom {
        transform: rotate(-43deg) translate(3.6rem, 4.1rem);
        padding: 0 0.8rem;
      }
    }

    &.active {
      transform: translateX(-12.5rem);
    }
  }

  .accordion {
    margin-top: 4.8rem;

    &__item {
      margin: 0;
      padding: 1rem 0;

      &:not(:first-child) .accordion__header {
        padding: 0;
      }
    }

    &__plus {
      width: 1.3125rem;
      height: 1.3125rem;
    }

    &__line {
      height: 0.1rem;
      width: 1.3125rem;
    }

    &__content {
      &.active {
        margin-top: 1.1rem;
        padding-top: 1.7rem;
      }
    }

    &__paragraph {
      margin-top: 2rem;
      font-size: 1.125rem;
      font-style: normal;
      line-height: 1.625rem;
      margin-left: 0;
      margin-right: 0.82rem;
      max-width: none;

      br {
        display: none;

        &.desctop {
          display: none;
        }
      }
    }

    &__list {
      margin-top: 1.8rem;
      flex-direction: column;
      row-gap: 1.25rem;
      max-height: none;

      &-item {
        padding-top: 0;
        padding-bottom: 1.25rem;
        border-top: 0;
        border-bottom: 1px solid #fff;
        font-size: 1rem;
        line-height: 1.25rem;
        max-width: none;
        height: auto;

        br {
          display: none;
        }
      }
    }

    &__button {
      margin: 0.55rem auto 1.7rem;
      font-size: 0.82844rem;
      line-height: 0.76931rem;
      letter-spacing: 0.01656rem;
      padding: 0.46rem 0.95rem;

      img {
        width: 1.1875rem;
        height: 1.1875rem;
        margin-right: 0.7rem;
      }
    }

    &__tabs {
      overflow: auto;
      gap: 2.2rem;
    }

    &__tab {
      font-size: 0.75rem;
      font-style: normal;
      line-height: 120%;
      letter-spacing: 0.015rem;

      &.active {
        padding-bottom: 0.55rem;
        border-bottom: 2px solid #fff;
      }
    }

    &__info {
      margin-top: 3.1rem;
    }

    &__description {
      align-items: flex-start;
      flex-direction: column;
    }

    &__age {
      &-big {
        font-size: 3.25rem;
        line-height: normal;
      }

      &-small {
        font-size: 1rem;
        font-style: normal;
        line-height: 120%;
      }
    }

    &__title {
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: 0.025rem;

      br {
        display: none;
      }
    }
  }

  .circle {
    font-size: 3.26163rem;
    line-height: 140%;
    letter-spacing: 0.06525rem;
    transform: none;
    width: 8.5rem;
    height: 8.5rem;
    margin: 4.8rem 0 0 0;
    overflow: hidden;

    &__img {
      width: 9.6rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .rock {
    transform: translate(1.6rem, 2.25rem);
  }

  .articul {
    &__descr {
      margin-right: 0;
    }

    &__footer {
      margin-top: 8.4rem;

      &-highlight {
        border-bottom: 2px solid #fff;
        padding-bottom: 0.25rem;
      }
    }

    &__close {
      top: 1rem;
      right: 1rem;
    }
  }

  .circle {
    margin-top: 2.81rem;
  }

  .accordion {
    margin-top: 2.8rem;

    &__item {
      padding: 1.02rem 0;
    }

    &__list {
      &-item {
        padding-bottom: 1.21rem;
      }
    }

    br {
      display: block;

      &.desctop {
        display: none;
      }
    }
  }
}
